$clr-vanilla-white: #EEEDEB;
$clr-vanilla-black: #222222;
$clr-vanilla-accent: #E0CCBE;
$clr-vanilla-accent-2: #747264;

$navbar-height: 80px;
$max-page-width: 1920px;
$page-side-padding-mobile: 2rem;
$page-side-padding-desktop: 6rem;